<br/>
<div class="dark-matter">
<script>
  $.notify("<%= notice %>", "success")
</script>

<h1><%= "#{t('messages.listing')} #{Contact.model_name.human(count: @contacts.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Contact.human_attribute_name("nome") %></th>
      <th><%= Contact.human_attribute_name("kind") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr style="background: <%= cycle('', 'gray')%>">
        <td><%= contact.nome %></td>
        <td><%= contact.kind.description %></td>
        <td><%= link_to t('buttons.edit'), edit_contact_path(contact) %></td>
        <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contacts %>
<br>
<%= link_to t('buttons.new'), new_contact_path, class: "btn btn-default"%>
<%= link_to t('buttons.back'), root_path, class: "btn btn-default"%>
</div>
